

@media only screen and (max-width: 1500px) and (min-width: 300px) {
    #landing {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:    "header header"
                                "main main";
    
    }
}


body {
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    display: grid; 
    font-size: 15px;
    max-width: 1000px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto auto auto;
    grid-template-areas: 
        "header"
        "main"
        
    ;
}

.header1 {
    grid-area: header;
    font: normal normal 900 10px Avenir Next;
    box-shadow: 0px 6px 10px #00000019;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}

h3 {
    font: normal normal 900 20px Avenir Next;
    
}

h4 {
    font: normal normal bold 14px Avenir Next;
    
}

h5 {
    font: normal normal 350 20px Avenir Next;
    
}

p {
    font: normal normal 350 12px Avenir Next;
    
}


form {
    font: normal normal 350 12px Avenir Next;
    
}

.other {
    max-width: 150px;
    width: 100%;
    padding-left: 30px;
    padding-top: 30px;
    align-items: center; 
    justify-content: space-around;

}



.container {
    background-color: white;
    grid-area: main;
    height: auto;
    position: relative;
    
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;

}

.knapp {
    background-color: #56D4C2;
    color: white;
    padding: 6px;
    text-decoration: none;
    border-radius: 5px;
    float: right;
   
}


.element {
    max-width: 200px;
    width: 100%;
    align-items: left;
    margin: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right:40px;
    box-shadow: 0px 6px 10px #00000019;
    font: normal normal 900 10px/15px Avenir Next;

}

.add {
    background-color: #56D4C2;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right:30px;
    text-decoration: none;
    border-radius: 5px;
    font: normal normal 900 15px Avenir Next;
    float: right;
   
}
